:root {
  --color-white: #fff;
  --color-dark-gray: #262626;
  --color-dark-gray-alternate: #2e2e2e;
  --color-gray: #3c3c3c;
  --color-light-gray: #cfcfcf;

  /* --color-red: #e2765a; */
  --color-red: #f3594f;
  --color-yellow: #e3d55a;

  --color-green: #5ebe74;
  --color-light-green: #82d28c;
}

body {
  color: var(--color-white);
  background: var(--color-dark-gray);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
  min-height: 100vh;
}
